
    
body{
    background-color: rgb(54, 136, 156);
    text-align: center;
}

div.conteiner {
    color: azure;
    text-align: center;
  }

  div.form {
    color: azure;
    text-align: center;
  }




